<!-- Toolbar -->
<div class="toolbar" role="banner" *ngIf="(state$ | async) as state">
  <span *ngIf="state.ready" >
    {{state.shopName}}
  </span>
  <div class="menu-buttons">
    <button class="input-group-text right-btn" *ngIf="displayMode === 'grid'" (click)="displayMode = 'list'" id="grid-selector">display list <i class="fa fa-list"></i></button>
    <button class="input-group-text right-btn" *ngIf="displayMode === 'list'" (click)="displayMode = 'grid'" id="list-selector">display grid <i class="fa fa-th-large"></i></button>
  </div>
</div>

<div [hidden]="displayMode === 'grid'" class="container-flex" id="list-container">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12">

      <div class="content no-margin-bottom-mobile" role="main">
        <button class="small-title" (click)="newProductIsCollapsed = !newProductIsCollapsed"
                [attr.aria-expanded]="!newProductIsCollapsed" aria-controls="collapseNewProductEvent">Insert new product <i [class]="newProductIsCollapsed ? 'fa fa-chevron-down' :  'fa fa-chevron-up'"></i></button>
        <div class="card-container" id="collapseNewProductEvent"
             [isAnimated]="true"
             [collapse]="newProductIsCollapsed">
          <form *ngIf="inputProduct" [formGroup]="inputProduct"  (ngSubmit)="insertNewProduct()" class="flex-form" id="new-product-form">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Title</span>
              </div>
              <input type="text" class="form-control" placeholder="Title" aria-label="Title" aria-describedby="basic-addon1" id="product-form-title"
                     formControlName="title" [class.error]="inputProduct.controls.title.invalid && inputProduct.controls.title.touched">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">Category</span>
              </div>
              <input type="text" class="form-control" placeholder="Category" aria-label="Category" aria-describedby="basic-addon2" id="product-form-category"
                     formControlName="category" [class.error]="inputProduct.controls.category.invalid && inputProduct.controls.category.touched">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3">Price</span>
              </div>
              <input type="number" class="form-control" placeholder="Price" aria-label="Price" aria-describedby="basic-addon3" id="product-form-price"
                     formControlName="price" [class.error]="inputProduct.controls.price.invalid && inputProduct.controls.price.touched">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon4">Employee</span>
              </div>
              <input type="text" class="form-control" placeholder="Employee" aria-label="Employee" aria-describedby="basic-addon4" id="product-form-employee"
                     formControlName="employee" [class.error]="inputProduct.controls.employee.invalid && inputProduct.controls.employee.touched">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon5">Description</span>
              </div>
              <textarea type="text" class="form-control" placeholder="Description" aria-label="Description" aria-describedby="basic-addon5" id="product-form-description"
                        formControlName="description"></textarea>
            </div>
            <div class="input-group mb-3">
              <button class="btn input-group-text right-btn" type="submit" [disabled]="!inputProduct.valid" id="new-product-submit">
                Save product <i class="fa fa-save"></i>
              </button>
            </div>
          </form>
        </div>
        <button class="small-title" [attr.aria-expanded]="!newProductIsCollapsed" aria-controls="collapseGraphEvent" (click)="statsGraphIsCollapsed = !statsGraphIsCollapsed">My shop stats <i [class]="statsGraphIsCollapsed ? 'fa fa-chevron-down' :  'fa fa-chevron-up'"></i></button>
        <div id="collapseGraphEvent" [isAnimated]="true" [collapse]="statsGraphIsCollapsed" class="content card-container chart-container" role="main">
          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12">
      <div class="content no-margin-top-mobile" role="main">
        <button (click)="listElementsIsCollapsed = !listElementsIsCollapsed" class="small-title"
                [attr.aria-expanded]="!listElementsIsCollapsed" aria-controls="collapseProductsEvent">Product list <i [class]="listElementsIsCollapsed ? 'fa fa-chevron-down' :  'fa fa-chevron-up'"></i></button>
        <div id="collapseProductsEvent" class="card-container"  [isAnimated]="true" [collapse]="listElementsIsCollapsed">
          <ng-container *ngIf="(state$ | async) as state">
            <ng-container *ngIf="!state.ready">
              <div>
                <mat-spinner></mat-spinner>
              </div>
            </ng-container>
            <ng-container *ngIf="state.ready">
              <div class="product-info-container" *ngFor="let product of state.results">
                <div class="row">
                  <div class="col-md-3">Titolo:</div>
                  <div class="col-md-9 border-left">{{product.data.title}}</div>
                </div>
                <div class="row">
                  <div class="col-md-3">Category:</div>
                  <div class="col-md-9 border-left">{{product.data.category}}</div>
                </div>
                <div class="row">
                  <div class="col-md-3">Price:</div>
                  <div class="col-md-9 border-left">{{product.data.price}}</div>
                </div>
                <div class="row">
                  <div class="col-md-3">Employee:</div>
                  <div class="col-md-9 border-left">{{product.data.employee}}</div>
                </div>
                <div class="row border-bottom">
                  <div class="col-md-3">Description:</div>
                  <div class="col-md-9 border-left">{{product.data.description}}</div>
                </div>
                <div class="row">
                  <div class="col-12"><button class="input-group-text right-btn card-delete-right" (click)="deleteProduct(product.id)">trash selected item <i class="fa fa-trash"></i></button></div>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div >
<div [hidden]="displayMode === 'list'" class="container-flex" id="grid-container">
  <div class="content container-grid" role="main">
    <div class="card-container">
      <ng-container *ngIf="(state$ | async) as state">
        <ng-container *ngIf="!state.ready">
          <div>
              <mat-spinner></mat-spinner>
          </div>
        </ng-container>
        <ng-container *ngIf="state.ready">
          <div class="product-info-container grid" *ngFor="let product of state.results">
            <div class="row">
              <div class="col-3">Title:</div>
              <div class="col-9 border-left">{{product.data.title}}</div>
            </div>
            <div class="row">
              <div class="col-3">Category:</div>
              <div class="col-9 border-left">{{product.data.category}}</div>
            </div>
            <div class="row">
              <div class="col-3">Price:</div>
              <div class="col-9 border-left">{{product.data.price}}</div>
            </div>
            <div class="row">
              <div class="col-3">Employee:</div>
              <div class="col-9 border-left">{{product.data.employee}}</div>
            </div>
            <div class="row border-bottom">
              <div class="col-3">Description:</div>
              <div class="col-9 border-left">{{product.data.description}}</div>
            </div>
            <div class="row">
              <div class="col-12"><button class="input-group-text right-btn card-delete-right" (click)="deleteProduct(product.id)"><i class="fa fa-trash"></i></button></div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
