<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>{{title}}</span>
  <div class="d-md-none menu-buttons">
    <button class="input-group-text right-btn" (click)="mobileMenuOpened = !mobileMenuOpened">add product <i class="fa fa-cart-plus"></i></button>
    <button class="input-group-text right-btn" (click)="mobileMenuOpened = !mobileMenuOpened">trash selected item <i class="fa fa-trash"></i></button>
    <button class="input-group-text right-btn" (click)="mobileMenuOpened = !mobileMenuOpened">display list <i class="fa fa-list"></i></button>
    <button class="input-group-text right-btn" (click)="mobileMenuOpened = !mobileMenuOpened">display grid <i class="fa fa-th-large"></i></button>


  </div>
</div>

<div class="container-flex">
  <div class="row">
    <div class="col-xl-6 col-lg-8 col-md-6">
      <div class="content" role="main" *ngIf="!mobileMenuOpened">
        <div class="card-container">
        </div>
      </div>
    </div>
    <div class="d-none d-md-block col-xl-6 col-lg-4 col-md-6">
    </div>
  </div>
</div>
<router-outlet></router-outlet>
